<div class="container p-3">
  <div class="row">
    <div class="col-lg-12">
      <h2>注文履歴一覧</h2>
      <table>
         <tr>
           <th>購入日時</th>
           <th>購入者</th>
           <th>注文個数</th>
           <th>注文ステータス</th>
         </tr>
      <br>
      <% @orders.each do |order| %>
        <tr>
        <td>
          <%= link_to admin_order_path(order[:id]) do %>
            <%= order.created_at.strftime("%Y/%m/%d/%T") %>
          <% end %>
        </td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <td><%= order.order_details.sum(:amount) %></td>
        <td><%= order.status_i18n %></td>
        </tr><br>
      <% end %>
      </table>
    </div>
  </div>
     <%= paginate @orders %>
</div>