<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= about_path %>">
          <button type="button" class="btn btn-outline-dark">
            <h1>LOGO</h1>
          </button>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row mb-2 justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
<!----------------------顧客ログイン時---------------------->
            <% if customer_signed_in? %>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= customers_mypage_path %>">マイページ <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= items_path %>">商品一覧 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= cart_items_path %>">カート <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= destroy_customer_session_path %>" data-method="delete">ログアウト <span class="sr-only">(current)</span></a>
                </button>
              </li>
<!----------------------管理者ログイン時---------------------->
            <% elsif admin_signed_in? %>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= admin_items_path %>">商品一覧 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= admin_customers_path %>">会員一覧 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= admin_top_path %>">注文履歴一覧 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= admin_genres_path %>">ジャンル一覧 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= destroy_admin_session_path %>" data-method="delete">ログアウト <span class="sr-only">(current)</span></a>
                </button>
              </li>
<!----------------------未ログイン時---------------------->
            <% else %>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= about_path %>">About <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= items_path %>">商品一覧 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= new_customer_registration_path %>">新規登録 <span class="sr-only">(current)</span></a>
                </button>
              </li>
              <li class="nav-item active">
                <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="<%= new_customer_session_path %>">ログイン <span class="sr-only">(current)</span></a>
                </button>
              </li>
            <% end %>
          </ul>
<!----------------------共通表示部分（ログイン時/未ログイン時）---------------------->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="container">
      </div>
    </footer>
  </body>
</html>
